{% extends "sign-layout.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}"> {% endblock %} {% block content %}
<div class="sign">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex-alg-center">
                <div class="sign-in-content">
                    <form action="#" class="sign-form" method="POST">
                        {{ form.hidden_tag() }}
                        <a href="#" class="sign-logo">
                            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo">
                        </a>
                        <div class="sign-group">
                            {% if form.email.errors %}
                                {{ form.email(class="sign-input is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                            {% else %} 
                                {{ form.email(class="sign-input") }} 
                            {% endif %}
                        </div>
                        {{ form.submit(class="sign-button") }}
                        <span class="sign-text">We will send a password to your Email
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}